@{
    Layout = "_Layout.cshtml";
}

@RenderBody()

<div class="register">
        <form id="subForm" class="form-inline" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E9056194E621132DE1FED3C4CC65C0B9F6E5E8A04061FB225886F80F841FA251327AFC2965CB5E45E407D16555EF447BFCCE524">
            <div class="form-group row">
                <input id="fieldEmail" name="cm-ejtkry-ejtkry" type="email" class="form-control" placeholder="Enter email" required  />
            </div>
                <button class="btn btn-outline-secondary js-cm-submit-button" type="submit">Subscribe</button>
        </form>
        <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</div>

<div class="jumbotron">
    <div class="row-fluid social-nav">
        <ul class="span12 social-links">
            <li><a href="https://twitter.com/powerbiweekly" target="_blank"><span class="icon-twitter"></span></a></li>
        </ul>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="powerbi-logo" viewBox="0 0 230.4 283">
        <title>PowerBIWeekly-Opt1_1</title>
        <g id="Layer_2" data-name="Layer 2">
            <g id="Circle-Chart">
                <path class="cls-1" d="M114.11,97.94a43.74,43.74,0,1,0,43.69,45.8A43.74,43.74,0,0,0,114.11,97.94ZM93.52,175.17a39.23,39.23,0,0,1-6.1-4.69l6.1-6.74Zm10,4.16a37.24,37.24,0,0,1-7-2.64V160.41l2.57-2.84,4.43,3.26Zm11,1.41a36.58,36.58,0,0,1-7-.58V162.7l4.54,3.35,0,0,0,0,2.39-2.71v17.42Zm10-1.69a38.64,38.64,0,0,1-7,1.32v-20.2l7-8Zm11-5a37.67,37.67,0,0,1-7,3.61V148.31l7-8Zm11-10a38.18,38.18,0,0,1-7,7.47V136.83l7,7Zm-2.25-28.63-5.61-5.62-27.27,31-12.68-9.34-14.44,16a39.38,39.38,0,0,1-4.08-5.67l17.6-19.46,12.61,9.29L133.82,125l-6-6,18.75-2.25Zm5.25,22.95V124.94a39.53,39.53,0,0,1,0,33.48Z" />
            </g>
            <g id="Fan">
                <rect class="cls-1" x="109.52" width="9" height="92" />
                <rect class="cls-1" x="122.57" y="83.61" width="8.77" height="9.56" transform="translate(24.88 -27.85) rotate(13.87)" />
                <rect class="cls-1" x="137.36" y="78.45" width="8.77" height="19.98" transform="translate(57.44 -55.8) rotate(27.73)" />
                <rect class="cls-1" x="150.75" y="82.79" width="8.77" height="24.4" transform="translate(102.19 -79.04) rotate(41.6)" />
                <rect class="cls-1" x="162.77" y="90.1" width="8.77" height="29.4" transform="translate(158.72 -92.31) rotate(55.46)" />
                <rect class="cls-1" x="174.05" y="98.12" width="8.77" height="37.97" transform="matrix(0.35, 0.94, -0.94, 0.35, 225.01, -91.17)" />
                <rect class="cls-1" x="184.21" y="107.32" width="8.77" height="50.41" transform="translate(297.84 -70.44) rotate(83.2)" />
                <rect class="cls-1" x="192.33" y="118.28" width="8.77" height="66.8" transform="translate(371.44 -24.89) rotate(97.06)" />
                <rect class="cls-1" x="169.75" y="150.03" width="8.77" height="28.8" transform="translate(389.92 60.52) rotate(110.93)" />
                <rect class="cls-1" x="175.99" y="156.74" width="8.77" height="61.61" transform="translate(437.31 146.44) rotate(124.79)" />
                <rect class="cls-1" x="154.6" y="174.5" width="8.77" height="36.04" transform="translate(405.51 232.06) rotate(138.66)" />
                <rect class="cls-1" x="148.85" y="181.9" width="8.77" height="69.75" transform="translate(389.19 338.42) rotate(152.53)" />
                <rect class="cls-1" x="128.17" y="189.3" width="8.77" height="56.9" transform="translate(312.62 398.2) rotate(166.39)" />
                <rect class="cls-1" x="109.72" y="192.02" width="8.6" height="90.96" transform="translate(226.94 475.52) rotate(-179.74)" />
                <rect class="cls-1" x="93.59" y="189.57" width="8.77" height="32.31" transform="translate(142.78 429.14) rotate(-165.88)" />
                <rect class="cls-1" x="77.74" y="183.63" width="8.77" height="36.3" transform="translate(59.94 418.5) rotate(-152.01)" />
                <rect class="cls-1" x="62.57" y="173.61" width="8.77" height="41.32" transform="translate(-12.81 383.63) rotate(-138.14)" />
                <rect class="cls-1" x="48.44" y="159.28" width="8.77" height="48.27" transform="translate(-68.99 330.37) rotate(-124.28)" />
                <rect class="cls-1" x="37.76" y="141.72" width="8.77" height="53.45" transform="translate(-101.03 266.69) rotate(-110.41)" />
                <rect class="cls-1" x="31.37" y="121.9" width="8.77" height="57.58" transform="translate(-109.88 203.38) rotate(-96.55)" />
                <rect class="cls-1" x="27.9" y="99.91" width="8.77" height="63.98" transform="translate(-102.65 147.11) rotate(-82.68)" />
                <rect class="cls-1" x="30.85" y="76.77" width="8.77" height="68.86" transform="translate(-81.19 103.86) rotate(-68.81)" />
                <rect class="cls-1" x="37.68" y="53.51" width="8.77" height="75.56" transform="translate(-56.83 73.29) rotate(-54.95)" />
                <rect class="cls-1" x="50.45" y="34.08" width="8.77" height="79.74" transform="translate(-35.09 54.24) rotate(-41.08)" />
                <rect class="cls-1" x="67.11" y="16.63" width="8.77" height="85.29" transform="translate(-19.2 39.26) rotate(-27.21)" />
                <rect class="cls-1" x="87.73" y="5.97" width="8.77" height="88.21" transform="translate(-9.07 22.62) rotate(-13.35)" />
            </g>
        </g>
    </svg>
    <h1>Power BI Weekly</h1>
    <h2>Your weekly Power BI news fix.</h2>
    <div class="article">
        <p class="lead">Power BI Weekly is a collation of the week's top news and articles from the Power BI ecosystem.</p>
        <p>It's aimed at developers, data analysts, data scientists, report designers or anyone interested in the latest Power BI developments.</p>
    </div>
</div>
<div class="register powered-by">
    <p class="endjin-link">powered by <a href="https://endjin.com" target="_blank"><strong>endjin.com</strong></a></p>
</div>

<div class="content2">
    <div class="row">
        <div class="contribute">
            <h2>Contribute</h2>
            <p>If you would like to contribute any content to the Power BI Weekly newsletter,</p>
            <p>please email <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#112;&#111;&#119;&#101;&#114;&#098;&#105;&#119;&#101;&#101;&#107;&#108;&#121;&#064;&#101;&#110;&#100;&#106;&#105;&#110;&#046;&#099;&#111;&#109;">&#112;&#111;&#119;&#101;&#114;&#098;&#105;&#119;&#101;&#101;&#107;&#108;&#121;&#064;&#101;&#110;&#100;&#106;&#105;&#110;&#046;&#099;&#111;&#109;</a></p>
        </div>
    </div>
</div>

<div class="content2">
@foreach(var contentPackage in Model.List<ContentPackage>("ContentPackages"))
{
    <div class="row">
        <div class="contribute">
            <h2>Issue @contentPackage.Issue:  @contentPackage.FromDate.ToString("dd/MM/yyyy") - @contentPackage.ToDate.ToString("dd/MM/yyyy")</h2>
            @Html.Raw(@contentPackage.Editorial)
        </div>
    </div>
}
</div>